.Python
bin/
include/
lib/
*.py[cod]
*.sqlite3
pip-selfcheck.json

src/awsbean/settings/local.py


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
