container_commands:
    01_migrate:
        command: "python src/manage.py migrate --noinput"
        leader_only: true
    02_makesuper:
        command: "python src/manage.py makesuper"
        leader_only: true
    03_collectstatic:
        command: "python src/manage.py collectstatic --noinput"
        leader_only: true